.card{display: flex; justify-content:center;}
.camr-tilte{font-family:Roboto,Arial;
	line-height:45px;
	font-style: bold; 
	color:#ffffff;
	text-shadow: 1px 2px 3px #111111;
}

.four-main{margin-top:30px; flex-direction:column;justify-content:center;align-items: center;
align-items: center; 
	
}
.four-i{
i{font-size: 55px}}
.fout-title{font-family:Roboto,Arial; color:#555555;}

.four-main{background: #FFFFFF;}

.section-paragraph{color: #cccccc; font-family:Roboto,Arial; }
